{% extends "layout/dashboard_base.html" %}

{% block content %}

<div class="card border-0 shadow-sm">
    <div class="card-body">

        <h2>Delete Shipment</h2>

        <p>
            Are you sure you want to delete
            <strong>{{ shipment.tracking_number }}</strong>?
        </p>

        <form method="post">
            {% csrf_token %}

            <button class="btn btn-danger">
                Yes, Delete
            </button>

            <a href="{% url 'shipment_list' %}" class="btn btn-secondary">
                Cancel
            </a>
        </form>

    </div>
</div>

{% endblock %}