<div class="sidebar">

    <div class="brand">
        <h3>Supply Core</h3>
        <small>Enterprise SCM</small>
    </div>

    <ul class="menu">

        <li class="active">🏠 Dashboard</li>

        <li>
            <a href="{% url 'product_list' %}">
                📦 Products
            </a>
        </li>

        <li>
            <a href="{% url 'supplier_list' %}">
                🏢 Suppliers
            </a>
        </li>

        <li>
            <a href="{% url 'purchase_order_list' %}">
                📑 Procurement
            </a>
        </li>

        <li>
            <a href="{% url 'inventory_list' %}">
               📊 Inventory
            </a>
        </li>

        <li>
            <a href="{% url 'warehouse_list' %}">
                🏭 Warehouses
            </a>
        </li>

        <li>
                🚚 Logistics
        </li>

        <li>
                📈 Reports
        </li>

        <li>
                ⚙ Settings
        </li>

    </ul>

</div>