<aside class="sidebar" id="sidebar">

    <div class="sidebar-header">

        <div class="brand-wrapper">
            <div class="brand-icon">SC</div>

            <div class="brand-text">
                <h4>Supply Core</h4>
                <span>Enterprise SCM</span>
            </div>
        </div>

        <button
            type="button"
            class="sidebar-close"
            id="sidebarClose"
        >
            ×
        </button>

    </div>

    <nav class="sidebar-menu">

        <a href="{% url 'home' %}">
            <span>🏠</span>
            <span class="menu-text">Dashboard</span>
        </a>

        <a href="{% url 'product_list' %}">
            <span>📦</span>
            <span class="menu-text">Products</span>
        </a>

        <a href="{% url 'supplier_list' %}">
            <span>🏢</span>
            <span class="menu-text">Suppliers</span>
        </a>

        <a href="{% url 'purchase_order_list' %}">
            <span>📑</span>
            <span class="menu-text">Procurement</span>
        </a>

        <a href="{% url 'inventory_list' %}">
            <span>📊</span>
            <span class="menu-text">Inventory</span>
        </a>

        <a href="{% url 'warehouse_list' %}">
            <span>🏭</span>
            <span class="menu-text">Warehouses</span>
        </a>

        <a href="{% url 'shipment_list' %}">
            <span>🚚</span>
            <span class="menu-text">Logistics</span>
        </a>

        <a href="#">
            <span>📈</span>
            <span class="menu-text">Reports</span>
        </a>

        <a href="#">
            <span>⚙️</span>
            <span class="menu-text">Settings</span>
        </a>

    </nav>

</aside>