{% extends "layout/dashboard_base.html" %}

{% block content %}

<div class="card border-0 shadow-sm">
    <div class="card-body">

        <h2>Delete Purchase Order Item</h2>

        <p>
            Remove
            <strong>{{ item.product.name }}</strong>
            from
            <strong>{{ purchase_order.po_number }}</strong>?
        </p>

        <form method="post">
            {% csrf_token %}

            <button class="btn btn-danger">
                Yes, Delete
            </button>

            <a
                href="{% url 'purchase_order_detail' purchase_order.id %}"
                class="btn btn-secondary"
            >
                Cancel
            </a>
        </form>

    </div>
</div>

{% endblock %}