.sidebar{

    width:260px;

    background:#163a87;

    color:white;

    min-height:100vh;

}

.brand{

    padding:25px;

}

.menu{

    list-style:none;

    padding:0;

}

.menu li{

    padding:15px 25px;

    cursor:pointer;

}

.menu li:hover{

    background:#2b53a5;

}

.active{

    background:#2b53a5;

}
.menu a {
    display: block;
    color: inherit;
    text-decoration: none;
}