{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supply Core</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body>

<div class="wrapper">

    <aside class="sidebar">

        <h2 class="logo">Supply Core</h2>

        <ul>

            <li>Dashboard</li>
            <li>Products</li>
            <li>Suppliers</li>
            <li>Inventory</li>
            <li>Warehouse</li>
            <li>Procurement</li>
            <li>Logistics</li>
            <li>Reports</li>
            <li>Settings</li>

        </ul>

    </aside>

    <main class="content">

        <nav class="topbar">

            <h3>Dashboard</h3>

            <div>
                🔔
                👤 Florence
            </div>

        </nav>

        {% block content %}

        {% endblock %}

    </main>

</div>

</body>
</html>